@import url('https://fonts.cdnfonts.com/css/gg-sans-2');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html, body {
    line-height: 1;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
    font-weight: inherit;
    font-style: inherit;
    color: #b5bac1;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Symbols";
}
h1, p {
    line-height: 1.25;
    vertical-align: baseline;
}

h1 {
    font-family: 'gg sans Normal', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: #f2f3f5;
    margin-bottom: 8px;
}

h2 {
    font-weight: 600;
    font-style: normal;
    font-family: 'gg sans Normal', sans-serif;
    color: #f2f3f5;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 8px;
  }

a{
    color: #00a8fc;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}

p {
    font-family: 'gg sans Normal', sans-serif;
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
}

body {
    position: relative;
    height: 100vh;
    background-image: url("bg.svg");
    background-size: cover;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.logo-discord {
    position: absolute;
    top: 48px;
    left: 48px;
}

.red{
    color:rgb(242, 63, 66);
}

.container {
    width: 800px;
    background-color: #313338;
    padding: 32px;
    border-radius: 5px;
    height: max-content;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 70px;
    flex-wrap: nowrap;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(38, 37, 37, 1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(38, 37, 37, 1);
    box-shadow: 0px 0px 1px 0px rgba(38, 37, 37, 1);
}
.flex-item{
    flex-grow: 1;
    width: 0;
}

.flex-grow-2{
    flex-grow: 1.6;
}

.flex-grow-1 {
    flex-grow: 1;
}

.form{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px
}

label {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.3333333333333333;
}

.form-group{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 20px;
}

.form-group a{
    margin-top: 8px;
    font-size: 14px;
    font-family: 'gg sans Medium', sans-serif;
    line-height: 16px;
    user-select: none;
}

.btn-submit{
    background-color: rgb(88, 101, 242);
    cursor: pointer;
    color: #f2f3f5;
}

.btn-submit:hover {
    background-color: rgb(71, 82, 196);
    color: #f2f3f5;
}

input {
    background: #1e1f22;
    font-family: inherit;
    color: #dbdee1;
    border-radius: 3px;
    padding: 10px;
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
}

label {
    margin-bottom: 8px;
}

.need-account {
    margin-top: 8px;
    font-size: 14px;
    line-height: 16px;
}

.code-qr{
    margin-bottom: 32px;
}
.code-qr-btn{
    width: auto;
    height: 40px;
    min-width: 130px;
    min-height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'gg sans Medium', sans-serif;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 4px;
    color: #00a8fc;

}



.code-qr-content{
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
}
.code-qr-content:hover{
    text-decoration: underline;
}